.airdrop-button-container {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 300px;
  z-index: 99999 !important;

  &__button {
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 15px 10px;
    border-radius: 8px;
    background-color: rgb(96, 38, 252);
    color: #fff !important;
  }
  &__modal{
    position: absolute;
    margin-top: 10px;
    left: 0;
    right: 0;
  }
  &__container-form {
    padding: 10px 20px;
    background-color: var(--page-back);
    label {
      color: var(--text-color) !important;
    }
    &__label {
      color: var(--text-color);
    }
  }
}
