button.replyComment {
  border: none !important;
  background: #c83e93 !important;
  color: #fff !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  border-radius: 4px;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  cursor: pointer;
}
.buttons.cz-leaving-repy {
  justify-content: flex-end;
}